<section id="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xs-12 col-sm-12 flush">
        {{site-header
          canSignUp=canSignUp
          showCreateAccount=(route-action "showCreateAccount")
          showLogin=(route-action "showLogin")
          showKeyboard=(route-action "showKeyboardShortcutsHelp")
          toggleMobileView=(route-action "toggleMobileView")
          toggleAnonymous=(route-action "toggleAnonymous")
          logout=(route-action "logout")
        }}
      </div>
    </div>
  </div>
</section>
