.calcy {
  padding-top: 70px;
  padding-bottom: 130px;
}

.calcy select {
  display: inline-block;
  border: 1px solid #008060;
  background: #8ac1ad;
  font-size: 30px;
  color: #fff;
  height: 70px;
  text-align: center;
  border-radius: 20px;
  padding: 0px 15px;
  outline: none;
  width: 100%;
}
