<ul class="big_btns">
  <li><a href="/fee-calculator#blog_content"><img src="/assets/cal_icon.png"> {{i18n "ui.texts.content.calculator"}}</a></li>
  <li><a href="/transaction#blog_content" class="red"><img src="/assets/tick_icon.png"> {{i18n "ui.texts.content.start_checkout_ticket"}}</a></li>
</ul>
