.fc-section-num {
  font-size: 40px;
  margin-right: 15px;
  line-height: 1;
}

.fc-section-help {
  display: flex;
  flex: 1;
}

.fc-container {
  color: #646464;
  text-align: justify;
  margin-top: 25px;
}

.fee-calculator {
  display: flex;
}

.fc-left {
  flex: 1;
}

.fc-intro {
  margin-bottom: 50px;
}

.fc-section-msg {
  font-size: 90%;
}

.fc-section-input {
  width: 300px;
  margin-left: 25px;
}

.fc-section-input select,
.fc-section-input input[type="text"],
.fc-section-input .select-kit .select-kit-header {
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  background-color: #f8f8f8;
  border: 2px solid #e9e9e9;
}

.fc-final-amount {
  font-size: 35px;
  color: #41c300;
  margin-bottom: 15px;
}

.fc-disclaimer {
  width: 100%;
  max-width: 600px;
  margin: 0px auto 40px;
  text-align: justify;
}

.fc-disclaimer h3 {
  text-align: center;
}

.fc-disclaimer p {
  font-size: 94%;
}

#blog_content.calculator {
  padding: 85px 0px;
}

#blog_content.calculator h2 {
  font-size: 35px;
  color: #737373;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 0px;
}
