<section id="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-xs-12 col-sm-7 flush xs-no-flush">
        <h1><span>Buy, Sell,</span><br/>& Trade Virtual Properties</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin varius, est vitae mollis pellentesque, mauris ligula auctor turpis, sed malesuada sapien tellus ac leo. Ut aliquet ex orci, vitae commodo nibh pulvinar tincidunt. Duis id pellentesque lacus, in vestibulum ipsum. Phasellus dui ex, porta nec malesuada at, sodales at odio. Nulla tempor dolor elit, non elementum tortor suscipit et. Suspendisse ut felis eget odio blandit pellentesque vel auctor nunc. Praesent sollicitudin enim et justo porta finibus vulputate eu risus. In scelerisque nec eros id feugiat. Proin dolor leo, lacinia in interdum et, blandit ac nisi. </p>
        <ul class="btns">
          <li><a href="#">Get Started</a></li>
          <li><a href="#">Learn More</a></li>
        </ul>
      </div>
      <div class="col-lg-5 col-xs-12 col-sm-5 text-right flush xs-no-flush">
        <img src="assets/home_img.png" alt="">
      </div>
    </div>
  </div>
</section>