<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xs-12 col-sm-12 text-center">
        <div class="row">
          <div class="col-lg-7 col-xs-12 col-sm-12 flush text-left">
            <a href="#" class="ft_logo"><img src="assets/footer_logo.png" alt=""></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed<br/>do eiusmod tempor incididunt ut labore et dolore magna<br/>aliqua. Quis ipsum suspendisse ultrices gravida. Risus<br/>commodo viverra maecenas accumsan lacus vel facilisis. </p>
          </div>
          <div class="col-lg-5 col-xs-12 col-sm-12 flush">
            <div class="row">
              <div class="col-lg-6 col-xs-12 col-sm-6 text-left">
                <ul>
                  <li><h2>Quick Links</h2></li>
                  <li><a href="#">Api</a></li>
                  <li><a href="#">How it Works?</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Terms</a></li>
                  <li><a href="#">Blog</a></li>
                </ul>
              </div>
              <div class="col-lg-6 col-xs-12 col-sm-6 text-left">
                <h2>Contact Us</h2>
                <a href="#">+1 (23a4) 567-89-00</a><br/>
                <a href="#">www.swap.com/foruminterne</a>
                <ul class="footer_social">
                  <li><a href="#"><img src="assets/ft_icon_1.png"></a></li>
                  <li><a href="#"><img src="assets/ft_icon_2.png"></a></li>
                  <li><a href="#"><img src="assets/ft_icon_3.png"></a></li>
                  <li><a href="#"><img src="assets/ft_icon_4.png"></a></li>
                  <li><a href="#"><img src="assets/ft_icon_5.png"></a></li>
                  <li><a href="#"><img src="assets/ft_icon_6.png"></a></li>
                  <li><a href="#"><img src="assets/ft_icon_7.png"></a></li>
                  <li><a href="#"><img src="assets/ft_icon_8.png"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <p class="last">Copyright &copy;  2010-2021 YallaSwap. All rights reserved.</p>
      </div>
    </div>
  </div>
  <div class="footer_vector">
    <img class="top_left" src="assets/ft_left_top.png" alt="">
    <img class="right_top" src="assets/ft_right_top.png" alt="">
    <img class="bottom_left" src="assets/bottom_left.png" alt="">
    <img class="ftcenter" src="assets/ft_center.png" alt="">
  </div>
</section>