<section id="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xs-12 col-sm-12 flush">
        <nav class="navbar navbar-expand-md navbar-dark">
          <a class="navbar-brand" href="#"><img src="assets/logo.png" alt=""></a>
          <button class="navbar-toggler js-offcanvas-toggler" data-button-options='{"wrapText":false}' aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><img src="assets/hambur_img.png"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExampleDefault" data-set="bs">
            <ul class="navbar-nav ml-auto js-append-around">
              <li class="nav-item active">
                <a class="nav-link" href="#">How it Works?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Earn Money</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Start Checkout</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Search Listings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Advertise</a>
              </li>
              <li class="nav-item">
                <a class="nav-link su_btn" href="#">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link li_btn" href="#"><img src="assets/login_icon.png"> Log In</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>